@font-face {
    font-family: 'rye';
    src: url('font/rye.ttf')  format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'rye', Arial, Helvetica, sans-serif;
}

body h1 {
  font-size: 96px;
  filter: drop-shadow(4px, 4px, 4px, rgba(0, 0, 0, 0.8));
  color: #f5b05b;
  text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
    #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

h2 {
  color: #f5b05b;
  text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
    #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

canvas {
  background-color: black;
  border: solid black 4px;
  display: block;
  height: 480px;
  width: 720px;
  box-sizing: border-box;
  z-index: 9;
}

.hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 720px;
  height: 480px;
}

.btns-left, .btns-right {
  display: flex;
  gap: 16px;
  padding-inline: 8px;
  padding-block: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5b05b;
  border: solid white 2px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  display: flex;
  object-fit: contain;
  height: 28px;
  width: 28px;
}

.btn-wrapper-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.btn-wrapper-bot {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.left {
  transform: rotate(270deg);
}

.right {
  transform: rotate(90deg);
}

.sound, .exit {
  display: none;
}

.turn-dialog {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.controls {
  display: flex;
  gap: 64px;
  width: 720px;
}

.controls-left, .controls-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.control-tile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.key-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5b05b;
  border: solid white 2px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.key{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(180deg,#f6f6f6,#e0e0e0);
  box-shadow: 0 8px 0 #bdbdbd, 0 14px 28px rgba(0,0,0,0.14);
  border: 1px solid rgba(0,0,0,0.08);
  cursor:pointer;
  user-select:none;
  -webkit-user-select:none;
  outline:none;
  transform: translateY(-3px);
}

.key:hover{
  box-shadow: 0 6px 0 #bdbdbd, 0 10px 20px rgba(0,0,0,0.12);
  transform: translateY(0px);
  cursor: pointer;
}

.space-frame {
  width: 98px !important;
  border-radius: 24px;
}

.spacebar {
  width: 66px;
  height: 36px;
}

.underline {
  text-decoration: underline;
}

.key h3{
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  color: #111;
  letter-spacing: 0.02em;
  pointer-events: none;
}

@media only screen and (max-width: 960px) {
  canvas {
    width: 100%;
  }
  h1 {
    display: none;
  }
  .hud {
    width: 100%;
  }
  .btn-wrapper-bot {
    display: flex;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  h1 {
    display: none;
  }
  .hud {
    height: 100vh;
  }
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .turn-dialog {
    display: flex;
  }
  .controls {
    display: none;
  }
}